<plugin>
	<nom>Seenthis - OpenCalais</nom>
	<auteur>ARNO*</auteur>
	<version>1.0.2</version>
	<etat>stable</etat>
	<description>
		OpenCalais pour Seenthis
	</description>
	<prefix>seenthisoc</prefix>
	<options>seenthisoc_options.php</options>

	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/seenthisoc.php</inclure>
	</pipeline>

	<pipeline>
		<nom>declarer_champs_extras</nom>
		<inclure>base/seenthisoc.php</inclure>
	</pipeline>

	<version_base>1.0.2</version_base>
	<install>base/seenthisoc.php</install>

	<necessite id="SPIP" version="[2.1.0;]" />
	<necessite id="queue" />
</plugin>

